mixin logotype
  .logotype&attributes(attributes)
    a.logotype__link
      img(
        src="./images/logotype.png",
        alt="Логотип Devcloud Solutions",
        width="59",
        height="59"
      )
    strong.logotype__title Devcloud Solutions
