@use '../../styles/utilities/visually-hidden.scss';
@use '../../styles/variables.scss';

.form {
  max-width: 94px * 7 + 30px * 6;
  padding-top: 74px;
  padding-right: 96px;
  padding-bottom: 70px;
  padding-left: 96px;

  &__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 400;
    color: variables.$color-light;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  &__inputs {
    display: flex;
    column-gap: 62px;
    margin-bottom: 42px;
  }

  &__input,
  &__textarea {
    width: 100%;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: inherit;
    color: variables.$color-light;
    letter-spacing: 0.03em;
    vertical-align: middle;
    background-color: transparent;
    outline: 1px solid transparent;
    outline-offset: 2px;
    transition: outline-color 300ms;

    &::placeholder {
      color: rgb(variables.$color-light, 46%);
    }
  }

  &__input {
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px - 1px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid variables.$color-light;

    &:focus-visible {
      outline-color: variables.$color-accent;
    }
  }

  &__textarea-wrapper {
    position: relative;
  }

  &__textarea {
    min-height: 160px;
    padding-top: 20px - 1px;
    padding-right: 20px - 1px;
    padding-bottom: 20px - 1px;
    padding-left: 20px - 1px;
    resize: vertical;
    border: 1px solid;
    border-radius: 12px;

    &:focus-visible {
      outline-color: variables.$color-accent;
    }
  }

  &__button {
    @extend %visually-hidden;
  }

  &__label {
    position: absolute;
    bottom: 12px - 1px;
    width: 38px;
    height: 38px;
    color: variables.$color-light;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    border-radius: 6px;
    outline: 1px solid transparent;
    outline-offset: 2px;
    transition:
      color 300ms,
      outline-color 300ms;

    .form__button:hover + & {
      color: variables.$color-accent;
    }

    .form__button:focus-visible + & {
      outline-color: variables.$color-accent;
    }

    &_for-submit-button {
      right: 38px + 12px + 12px - 1px;
      background: url('../images/send.png') no-repeat center;
    }

    &_for-file-button {
      right: 12px - 1px;
      background: url('../images/attach.png') no-repeat center;
    }
  }
}
