@use '../../styles/variables.scss';

.button {
  min-width: 276px;
  padding-top: 12px - 1px;
  padding-right: 24px - 1px;
  padding-bottom: 12px - 1px;
  padding-left: 24px - 1px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
  color: variables.$color-light;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid variables.$color-light;
  border-radius: 42px;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition: 300ms;

  &:hover {
    color: variables.$color-accent;
    background-color: transparent;
    border-color: variables.$color-accent;
  }

  &:focus-visible {
    outline-color: variables.$color-accent;
  }

  &_dark {
    background-color: variables.$color-dark;
    border-color: variables.$color-dark;
  }
}
